# **Table for Django**
Django Web 서비스를 위한 Table 만들기

## **1 Loading the table**
엑셀 원본데이터 불러오기

In [30]:
from glob import glob
file_list = sorted(glob("../Arterior/*.csv"))
file_list

['../Arterior/artist.csv',
 '../Arterior/artist_raw.csv',
 '../Arterior/artistv2.csv',
 '../Arterior/store.csv',
 '../Arterior/storev2.csv']

## **2 Artist Table**
작가 테이블로 나누기
```python
sqlite3.connect('./db.sqlite3')
con = sqlite3.connect('./db.sqlite3').cursor()
con.execute('DELETE from arterior_artist')
con.fetchall()
```

In [18]:
import pandas as pd
file = '../Arterior/artist.csv'
table = pd.read_csv(file, header=None)
table[3] = table[3].fillna('000-000-0000')
table[4] = table[4].fillna('email@email.com')
# table.to_csv(file.replace('.csv', 'v2.csv'), header=None, index=None)
name_index = {_ : no+1 for no, _ in enumerate(table.iloc[:,0].to_list())}
table.head(2)

     0  1  2             3                4
0  박현철  A  1  000-000-0000  email@email.com
1  나서윤  A  2  000-000-0000  email@email.com

## **2 Store Table**
작가 테이블로 나누기

In [29]:
# Artist Index Table 만들기
file = '../Arterior/store.csv'
table = pd.read_csv(file)
table = table.drop(columns=['fix','no'])
table = table.loc[:, ['title','artist','type','ceo','phone',\
    'address','addressfull','addressroad','lon','lat']]
table.to_csv(file.replace('.csv', 'v2.csv'), header=None, index=None)
table.head(3)

,title,artist,type,ceo,phone,address,addressfull,addressroad,lon,lat
0,영진떡방앗간,박현철,떡집,박명일,010-8507-6657,난향길 14,서울특별시 관악구 난향길 14,서울특별시 관악구 신림동 676-36,126.918079,37.462919
1,카페비온,박현철,카페,유민영,010-9688-7097,난향길 24,서울특별시 관악구 난향길 24 현경빌딩,서울특별시 관악구 신림동 676-42 현경빌딩,126.917727,37.462847
2,영진부동산,박현철,부동산,서청,010-3244-6816,난향길 14,서울특별시 관악구 난향길 14,서울특별시 관악구 신림동 676-36,126.918001,37.462786